
p.p1{
    background-color: #FFFF99;
    font-family: tahoma;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    bottom: 20px;
}
p.p2{
    background-color: #66CCFF;
    font-family: tahoma;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    bottom: 20px;
}
p.p3{
    background-color: #99FF66;
    font-family: tahoma;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    bottom: 20px;
}